{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'tienda/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <!-- Comienzo del Header -->
<header class="header">

    <a href="index.html" class="logo">
        <img src="{% static 'tienda/img/logo.webp' %}" alt="">
    </a>

    <nav class="navbar">
        <a href="index.html">Inicio</a>
        <a href="contacto.html">Nosotros</a>
        <a href="tienda.html">Tienda</a> 
        <a href="#reseñas">Reseñas</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <div class="iconos">
        <div class="fas fa-search" id="buscar-btn"></div>
        <div class="fas fa-shopping-cart" id="carta-btn"></div>
        <div class="fas fa-user" id="user-btn"></div>        
        <div class="fas fa-bars" id="menu-btn"></div>

    </div>

    <div class="search-form">
        <input type="search" id="search_box" placeholder="busca aqui...">
        <label for="search_box" class="fas fa-search"></label>
    </div>

<!-- Carta arreglar con js para agregar items  -->    
<div class="carta-items-container">
    <h2>Carrito de Compras</h2>
    <ul id="cart" class="list-group"></ul>
    <p>Total: $<span id="total">0.00</span></p>
    <a href="#" class="btn">Comprar</a>
</div>

<!-- Arreglar con js para agregar items -->

</header>
<!-- final del Header -->

<!-- Inicio login-->

<Section class="login">

    <div class="container" id="container">
        <div class="container1" id="container1">
            <div class="form-container registro">
             <form>
                  <h1>Crear cuenta</h1>
                 <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="fa-brands"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="fa-brands"><i class="fa-brands fa-github"></i></a>
                </div>
                <span> o usa tu email para registrarte</span>
                <input type="text" placeholder="nombre">
                <input type="email" placeholder="email">
                <input type="password" placeholder="contraseña">
                <button>Crear Cuenta</button>
             </form>
            </div>
            <div class="form-container iniciar">
            <form>
                <h1>Iniciar Sesión</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="fa-brands"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="fa-brands"><i class="fa-brands fa-github"></i></a>
                </div>
                <span> o usa la contraseña de tu cuenta</span>
                <input type="email" placeholder="email">
                <input type="password" placeholder="contraseña">
                <a href="#">Olvidaste tu contraseña?</a>
                <button>ingresar</button>
              </form>
         </div>
            <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenido</h1>
                    <p>Ingresa tus datos personales para iniciar sesión</p>
                    <button class="hidden" id="login">Ingresar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Nuevo por aqui?</h1>
                    <p>Ingresa tus datos para registrarte</p>
                    <button class="hidden" id="register">Crear cuenta</button>
                    </div>
            </div>
         </div>
        </div>    
    </div>


</Section>




<!-- Final login-->














<!-- inicio footer-->
<section class="footer">
    <div class="credit">
        <div class="info">Horario de Atención:
            <p>Lunes a viernes de 10:00am a 17:00pm.</p>
            <b>-</b>
        </div>
        <div class="direccion">Dirección:
            <p>Brasil 2021, Valparaíso.</p>
        </div>
    </div>


    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-tiktok"></a>
    </div>

    <div class="links">
        <a href="index.html">Inicio</a>
        <a href="contacto.html">Nosotros</a>
        <a href="tienda.html">Tienda</a>       
        <a href="#">Reseñas</a>
        <a href="contacto.html">Contacto</a>
    </div>

    <div class="credit">Creador por Franco Fernandez Duoc UC sede   Valparaiso

    </div>


</section>

<!-- final footer-->




<script src="{% static 'tienda/js/script.js' %}"></script>
</body>
</html>